/* @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@import 'tailwindcss';
@plugin "daisyui" {
	themes: bumblebee --default, bumblebee --prefersdark;
}

html,
body {
	@apply h-full;
}

body {
	@apply grid grid-cols-[auto_1fr] grid-rows-[1fr_auto] font-serif tracking-wider bg-base-300;
	/* @apply sm:flex sm:flex-col; */
}

main {
	@apply col-start-2 row-start-1;
	/* @apply grow; */
}

footer {
	@apply col-start-2 row-start-2;
}

h1,
h2,
h3 {
	@apply font-black;
}

@theme {
	--font-mono: 'Fira Code', monospace;
	--font-serif: 'Arimo', sans-serif;
}
